.articles {
    padding: 2em;
}

.article {
    font-family: var(--body-font);
    color: var(--text-color);
    background: white;
    margin: 2em auto;
}

.article-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5000;
    background: linear-gradient(to right, var(--main-color), var(--sec-color));
    border-bottom: 1px solid var(--sec-color);
    text-align: center;
    padding: 1em 0;
}

.article-title {
    font-size: 150%;
    font-weight: bold;
}

.article-author {
    font-style: italic;
}

.article-body {
    text-align: justify;
    padding: 1em;
}

.book {
    padding: 1em;
}

.book .book-title {
    margin-left: 1em;
    font-weight: bold;
}

.circle {
    border-radius: 50%;
    background: var(--sec-color);
}

