.articles {
}

.article {
    font-family: var(--body-font);
    color: var(--text-color);
}

.article-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5000;
    background: white;
    border-bottom: 1px solid var(--sec-color);
    text-align: center;    
    /*box-shadow: 1px 4px 4px 0px var(--main-color);*/
}

.article-title {
    font-size: 150%;
    font-weight: bold;
}

.article-author {
    font-style: italic;
}

.article-info {
    display: none;
}

.article-social {
    display: none;
}

.article-body {
    text-align: justify;    
    display: none;
}





.article.active .article-author,
.article.active .article-info,
.article.active .article-social,
.article.active .article-body {
    display: block;
}

.circle {
    border-radius: 50%;
    background: var(--sec-color);
}

