.article {
    font-family: var(--body-font);
    color: var(--text-color);
    font-size: 2vw;
}

.article-header {
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 1px 4px 4px 0px var(--main-color);
}
.article-title {
    font-family: var(--body-font);
    font-size: 4vw;
    font-weight: bold;
}

.article-author {
    text-align: center;
    font-style: italic;
}


.article-body {
    text-align: justify;    
    font-weight: 500;
}