@import url('https://fonts.googleapis.com/css?family=Trade+Winds');

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Eczar|Gentium+Basic|Libre+Baskerville|Libre+Franklin|Open+Sans|Proza+Libre|Rubik|Taviraj|Trirong|Work+Sans');

:root {
    /* Main color scheme: White on dark semi-transparent background*/
    --main-color: #777;
    --sec-color: #dad;
    --white: white;
    --black: #000;

    --main-background-color: linear-gradient(to right, var(--main-color), var(--sec-color));
    
    --section-background-color: var(--black);
    
    --main-font: 'Cormorant Garamond', serif;
    --headline-font: 'Cormorant Garamond', serif;
    --body-font: 'Cormorant Garamond', serif;
    --brand-font: 'Trade Winds', cursive;
    --link-font: 'Trade Winds', cursive;
    
    --brand-color: var(--main-color);
    --key-color: #555;
    --value-color: cadetblue;    
    --link-color: var(--main-color);
    --link-color-active: var(--sec-color); 
    --text-color: #222;

    --header-height: 6vh;
    --footer-height: 6vh;
    --main-height: calc(100vh - var(--header-height));
    
}