@import url('https://fonts.googleapis.com/css?family=Trade+Winds');

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Eczar|Gentium+Basic|Libre+Baskerville|Libre+Franklin|Open+Sans|Proza+Libre|Rubik|Taviraj|Trirong|Work+Sans');

:root {
    /* Main color scheme: White on dark semi-transparent background*/
    --main-background: rgba(255,255,255,1);
    --sec-background-color: #eea;
    
    --main-font: 'Trade Winds', cursive;
    --headline-font: 'Proza Libre', sans-serif;
    --body-font: 'Cormorant Garamond', serif;
    --brand-font: var(--main-font);
    --link-font: 'Trade Winds', cursive;
    
    --main-color: #555;
    --sec-color: #dad;    
    --headline-color: cadetblue;
    --body-color: black;
    --brand-color: var(--main-color);
    --key-color: #555;
    --value-color: cadetblue;    
    --link-color: cadetblue;
    --link-color-active: #ddd;    

    --header-height: 8vh;
    --footer-height: 6vh;
    --main-height: 100vh;
    
    --separator-height: .25em;
}