div.dataTables_wrapper {
    background-color: transparent;
}

table tbody th {
    text-align: left;
    background: transparent;
}
 
table tbody td {
    background: transparent;
}
 
table tbody tr.odd td {
    background: rgba(0,0,0,.3);
}