
table {
    font-family: var(--headline-font);
}

table thead {
    background: var(--sec-color);
}

.dataTables_wrapper {
    font-size: 80%;
}

.dataTables_length, .dataTables_filter {
    background: transparent;
    padding: 2em;
}