/* Home */
#home {
    position: relative;
    height: var(--main-height);
    text-align: center; 
}

#home .bg-image {
    height: 100%;
    background-image: url(../img/African_woman_slave_trade.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: color;
    opacity: .05;
}

#home #title {
    font-family: var(--brand-font);
    text-align: center;
    font-size: 400%;
}

#citation {
    height: var(--main-height);
    text-align: center;
}

#citation .quote {
    font-size: 300%;
}

#citation .author {
    padding-bottom: 1em;
}

#citation .author a {
    font-family: var(--headline-font);
    font-weight: bold;
    font-size: 1em;
}

#citation .source {
    font-family: var(--headline-font);
    font-weight: bold;
}

#citation .books img {
    border: 4px solid yellow;
    border-radius: 5%;
    height: 140px;
}

