header {
    /*border-bottom: 1px solid var(--sec-color);*/
    background: rgba(0,0,0,.75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
header .navbar-brand {
    width: 50%;
    font-family: var(--brand-font);
    color: var(--link-color);
}

#menu {
    min-height: var(--header-height);
    text-align: center;
}

#menu a, #menu button, footer a {
    color: var(--link-color);
    background: transparent;
    font-family: var(--link-font);
}

#menu a.active, 
#menu button.active, 
#wrapper > footer a.active {
    color: var(--sec-color);
}

a i, button i {
    margin: 0;
    padding: 0;
}
