#pplayer, #vplayer {
    min-height: var(--header-height);
    font-size: 2em;
    text-align: center;
    background: white;
    box-shadow: 0 1px 2px 2px var(--main-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5000;
    padding: .25em 0;
}

span#year, span#filter {
    color: var(--main-color);
    font-size: 1em;
}


#vplayer button, 
#pplayer button,
#vplayer a i, 
#pplayer a i {
    color: var(--sec-color);
    background: transparent;
}

