#pplayer, #vplayer {
    min-height: var(--header-height);
    font-size: 2em;
    background: linear-gradient(to right, var(--main-color), var(--sec-color));
}

span#year, span#filter {
    color: var(--main-color);
    font-size: 1em;
}


#vplayer button, 
#pplayer button,
#vplayer a i, 
#pplayer a i {
    color: var(--sec-color);
    background: transparent;
}

