/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
/*
@media screen and (min-width: 901px) {
  .article {
    font-size: 1.5vw;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .article {
    font-size: 2.5vw;
  }
}
@media screen and (min-width: 301px) and (max-width: 600px) {
    body{
        font-size: .85em;
    }
        
    .article {
        padding: 0;
        margin: 0;
    }
}
*/
@media screen and (max-width: 300px) {
    .container {
        margin: 0;
        padding: 0;
    }
}

.card-columns {
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

