section {
    position: relative;
    min-height: var(--main-height);
    background: #fff;
    color: var(--main-color);
}


.subtitle {
    text-align: center;
    font-size: 150%;
}

.logo {
    font-family: var(--brand-font);
    color: var(--main-color);
}

/**********************************
 Home 
***********************************/
#home {
    position: relative;
    height: var(--main-height);
    text-align: center; 
}


#abstract {
    margin: 0 auto;
}


/**********************************
 Articles 
***********************************/


/**********************************
 Frontpages
***********************************/
.frontpage {
    height: calc(var(--main-height) * 10 / 10);
    color: var(--sec-color);
    font-weight: bold;
}

.frontpage.small {
    height: calc(var(--main-height) * 8 / 10);
}


.frontpage .title-wrapper {
    height: 100%;
}

.frontpage.small .title-wrapper {
    background: transparent;
}

.title-wrapper .title {
    font-family: var(--main-font);
    font-size: 250%;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

.title .article-title {
    color: #111;
}



/**********************************
 articles 
***********************************/
#resources .quote {
    text-align: center;
}

#resources .author {
    text-align: center;
    font-style: italic;
}

#resources .author a {
    font-family: var(--headline-font);
    font-weight: bold;
    color: var(--link-color);
}

#resources .source {
    font-family: var(--headline-font);
}

#resources .books {
}


#resources .books img {
    height: 128px;
    border-radius: 4px;
}

#resources .book-title {
}


/**********************************
 Participation 
***********************************/
#participation {
    position: relative;
    min-height: var(--main-height);
}

#participation .hoverinfo {
}

#world-container {
    min-height: var(--main-height);
}

#world-map {
    height: var(--main-height);
    width: 100%;
    position: relative;
}

#countries-data {
    color: var(--main-color);
    min-height: var(--main-height);
}


/**********************************
 Voyages 
***********************************/
#voyages {
    height: var(--main-height);
}

#storymap-container {
    height: var(--main-height);
    background: #111;
}

#storymap {
    font-family: var(--brand-font);
    height: var(--main-height);
}

#details-container {
    min-height: var(--main-height);
    color: var(--main-color);
    padding: 5%;
    background: #111;
    
}

#details {
}

#details .entry {
}

#details .key {
    color: var(--main-color);
    text-align: left;
    font-weight: bold;
}

#details .value {
    color: var(--main-color);
    text-align: right;
}

#details .value a,
.headline .value a {
    text-decoration: underline;
    color: var(--link-color);
}

.headline {
    color: var(--key-color);
    font-family: var(--brand-font);
    font-weight: bold;
    text-align: center;
}

div.itinerary {
    color: var(--key-color);
    text-align: center;    
    font-weight: bold;
}
div.itinerary a {
    color: var(--key-color);
    text-decoration: underline;
}

.resistance {
    color: red;
    font-size: 500%;
    border-radius: 50%;
    overflow: hidden;
}

/*************************************
 Database
**************************************/
#database {
    min-height: var(--main-height);
}


#database a {
    background: transparent;
    color: var(--main-color);
}

#database a.active {
    background: var(--main-background-color);
    color: white;
}

#database .content {
    padding: 5%;
}

#database .tab-content {
    background: white;
    color: var(--main-color);
    font-family: var(--headline-font);
    padding: 2%;
}


/*****************************
 Charts
******************************/
#charts {
    min-height: var(--main-height);
}

.chart-wrapper {
    padding: 2em;
    margin: 0;
}

#charts .chart-legend p {
    font-family: var(--body-font);
    color: #333;
    font-weight: bold;
    line-height: 1.25em;
    text-align: justify;
}



/*****************************
 About Us
******************************/
#about-ngutu, #about-pirigrino, #contact-ngutu, #contact-social, #impressum-container {
    padding: 2em;
    margin: 0;
}

.subtitle {
    font-variant: normal;
    font-weight: bold;
    font-size: 50%;
}

#about-us p {
    
}
#contact-container {
}

#impressum-container p {
    text-align: center;
}

#impressum-container p span {
    font-family: var(--brand-font);
}

.loading {
    color: var(--sec-color);
}


#privacy {
    background: white;
}

#privacy .tab-content {
    padding: 3em;
    color: var(--text-color);
}


.loggedin {
    color: #4267b2;
    background: white;
}

#top3-quizz-body #central {
    position: relative;
}

#top3-quizz-body #central #possible-answers {
}

#explore {
    display: none;
}

#central {
    position: relative;
}
#user-notification-area {
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 100%;
}

#percentage-indicator {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    display: block;
}

.list-group :not(.active),  {
    background: transparent;
}