    section {
    position: relative;
    min-height: var(--main-height);
    background: #111;
    color: var(--main-color);
}


.subtitle {
    text-align: center;
    font-size: 150%;
}


/**********************************
 Home 
***********************************/
#home {
    position: relative;
    height: var(--main-height);
    text-align: center; 
}

/**********************************
 Articles 
***********************************/


/**********************************
 Frontpages
***********************************/
.frontpage {
    height: calc(var(--main-height) * 10 / 10);
    color: var(--sec-color);
    font-weight: bold;
}

#home .frontpage {
    background: url('../img/African_woman_slave_trade.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#participation .frontpage {
    background: url('../img/bright-1866986_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#voyages .frontpage {
    background: url('../img/ship-1366926_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#database .frontpage{
    background: url('../img/bricks-459299_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#charts .frontpage {
    background: url('../img/business-2089534_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about-us .frontpage {
    background: url('../img/contact-us-1908763_1920.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#citation .frontpage {
    background: url('../img/giant-tortoise-3782239_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#articles .frontpage {
    background: url('../img/color-3256055_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about-us .frontpage {
    background: url('../img/ground-1225041_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contribute .frontpage {
    background: url('../img/heart-700141_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frontpage .title-wrapper {
    background: linear-gradient(to right, black, transparent);
    height: var(--main-height);
    width: 100%;
}

.title-wrapper .title {
    font-family: var(--main-font);
    font-size: 250%;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}



/**********************************
 articles 
***********************************/
#citation .quote {
    text-align: center;
}

#citation .author {
    text-align: center;
    font-style: italic;
}

#citation .author a {
    font-family: var(--headline-font);
    font-weight: bold;
    color: var(--link-color);
}

#citation .source {
    font-family: var(--headline-font);
}

#citation .books {
}


#citation .books img {
    height: 128px;
    border-radius: 4px;
}

#citation .book-title {
}


/**********************************
 Participation 
***********************************/
#participation {
    position: relative;
    min-height: var(--main-height);
}

#participation .hoverinfo {
}

#world-container {
    min-height: var(--main-height);
}

#world-map {
    min-height: var(--main-height);    
}

#countries-data {
    color: var(--main-color);
    min-height: var(--main-height);
}


/**********************************
 Voyages 
***********************************/
#voyages {
    position: relative;
    min-height: var(--main-height);
}

#storymap-container {
    height: var(--main-height);
}
#storymap {
    font-family: var(--brand-font);
    height: var(--main-height);
}

#details-container {
    min-height: var(--main-height);
    color: var(--main-color);
}

#details {
}

#details .entry {
}

#details .key {
    color: var(--main-color);
    text-align: left;
    font-weight: bold;
}

#details .value {
    color: var(--main-color);
    text-align: right;
}

#details .value a,
.headline .value a {
    text-decoration: underline;
    color: var(--link-color);
}

.headline {
    color: var(--key-color);
    font-family: var(--brand-font);
    font-weight: bold;
    text-align: center;
}

div.itinerary {
    color: var(--key-color);
    text-align: center;    
    font-weight: bold;
}
div.itinerary a {
    color: var(--key-color);
    text-decoration: underline;
}

.resistance {
    color: red;
    font-size: 200%;
    border-radius: 50%;
    overflow: hidden;
}

/*************************************
 Database
**************************************/
#database {
    min-height: var(--main-height);
}


#database a {
    background: transparent;
    color: var(--main-color);
}

#database a.active {
    background: var(--main-background-color);
    color: white;
}


#database .tab-content {
    background: white;
    color: var(--main-color);
    font-family: var(--headline-font);
}


/*****************************
 Charts
******************************/
#charts {
    min-height: var(--main-height);
}


#charts .chart-legend p {
    font-family: var(--body-font);
    color: #333;
    font-weight: bold;
    line-height: 1.25em;
    text-align: justify;
}



#impressum-container p {
    text-align: center;
}

#impressum-container p span {
    font-family: var(--main-font);
}

.loading {
    color: var(--sec-color);
}

