#wrapper {
}

body {
    min-height: 100vh;
    font-family: var(--main-font);
    font-size: 14px;
    overflow-y: scroll;
    background: linear-gradient(to right, var(--main-color), var(--sec-color));
}

header {
    min-height: var(--header-height);
    background: red;
}


footer {
    height: var(--footer-height);
    background: red;
}

