body {
    min-height: 100vh;
    font-family: var(--main-font);
    font-size: 14px;
    background: linear-gradient(to right, var(--main-color), var(--sec-color));
}

#wrapper {
    height: 100vh;
}


header {
    min-height: var(--header-height);
}

main {
    height: var(--main-height);
}


footer {
    height: 0;
}

