.container-fluid {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: var(--main-font);
    font-size: 14px;
    background-color: linear-gradient(to right, var(--main-color), var(--sec-color));
    background-image: url(../img/African_woman_slave_trade.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


header {
    height: var(--header-height);
}

main {
    min-height: var(--main-height);
}

footer {
    height: 0;
}

