header {
    width: 100%;
    height: 7.5vh;
}
header .navbar-brand {
    font-family: var(--brand-font);
    color: var(--link-color);
}

#menu {
    text-align: center;
}

#menu a, #menu button, footer a {
    color: var(--link-color);
    background: transparent;
    font-family: var(--main-font);
    font-weight: bold;
    font-variant: small-caps;
}

#menu a.active, 
#menu button.active, 
#wrapper > footer a.active {
    color: var(--sec-color);
}

a i, button i {
    margin: 0;
    padding: 0;
}

#toggle_contribute i {
    color: red;
}

