<article id="about-us" class="container-fluid text-justify">
    <section class="frontpage">
        <div class="title-wrapper">
            <h2 class="title">About Us</h2>
        </div>
    </section>
    <section class="container my-5 p-5">
        <div id="about-ngutu">
            <div class="subtitle"><i class="fab fa-connectdevelop pr-3"></i>About ngutu.org:</div>
            <p>ngutu.org is my a personal blog to share information and ideias about Africa, Africans, African History, Culture, Experiences and Development. Some spaces are data oriented und objective, others are open, subjective or speculative.</p>
            <p>Everyone is welcome to contribute. We adhere to the view of a single human family where all individuals bolong. Some subjects however, for example the slave trade, may be difficult to treat without an emotional or subjective tone, but the fundamental respect for each indivudual is ensured. If you find content that may cross the line, do not hesitate to contact me to review that content.</p>
        </div>
        <div id="contacts">
            <div id="contact-ngutu">
                <div class="subtitle">
                    <i class="fas fa-lightbulb pr-3"></i> Contact ngutu.org
                </div>
                <p>For help, ideas, improvements, critics and other general information you can send us an email to <a href="mailto:info@ngutu.org" target="_top">info@ngutu.org</a></p>
            </div>
            <div id="contact-ngutu">
                <div class="subtitle">
                    <i class="fas fa-lightbulb pr-3"></i> Contact Peregrino do Piri
                </div>
                <p><a href="mailto:peregrino.do.piri@gmail.com" target="_top">peregrino.do.piri@gmail.com</a></p>
            </div>
        </div>
    </section>
</article>