
<section id="contacts">
    <div class="frontpage">
        <div class="title-wrapper">
            <h2 class="title">Contact Us</h2>
        </div>
    </div>
    <div class="content">
            <div id="contact-ngutu">
                <div class="subtitle">
                    <i class="fas fa-lightbulb pr-3"></i> Contact ngutu.org
                </div>
                <p>For ideas, improvements, critics and other general information you can send us an email to <a href="mailto:info@ngutu.org" target="_top">info@ngutu.org</a></p>
            </div>
            <div id="contact-social">
                <div class="subtitle"><i class="fas fa-users pr-3"></i>Join Us on Social Media</div>
                <p>Of course you can join our community in social media and interact with other people interested studying the enslavement of African peoples and in fighting slavery today.</p>
            </div>
        </div>
</section>

<section id="impressum">
    <div class="frontpage">
        <div class="title-wrapper">
            <h2 class="title">Impressum</h2>
        </div>
    </div>
    <div class="content">
        <div id="impressum-container">
            <p id="impressum-owner">
                <span>tastXplorer</span><br/> Alexandre Zua Caldeira<br/> Lehrter Str. 8<br/> 10557 Berlin<br/> Germany
            </p>
        </div>
    </div>
    
</section>

<section id="articles">
    <div class="frontpage">
        <div class="title-wrapper">
            <h2 class="title">Free Thoughts</h2>
        </div>
    </div>
    <div id="latest-articles" class="articles"></div>
</section>

<section id="contribute">
    <div class="frontpage">
        <div class="title-wrapper">
            <h2 class="title">Help us Improve and Progress</h2>
        </div>
    </div>
</section>
