<section id="home">
    <div class="content  p-3" id="message">
        <h2 class="h2 title">The Trans-atlantic Slave Trade</h2>
    </div>
</section>

<section id="citation">
    <div class="content ccontainer container pt-3 pb-3">
        <h2 class="quote h2 title p-2"></h2>
        <div class="author text-center p-3"></div>
        <ul class="books list-unstyled p-3 clearfix"></ul>
    </div>
</section>

<section id="participation">
    <div id="pplayer" class="text-center">
        <button id="prefresh" href="#" class="btn fas fa-undo p-0 m-0"></button>
        <button id="pplay" href="#" class="btn fas fa-play p-0 m-0"></button>
        <button id="ppause" href="#" class="btn fas fa-pause p-0 m-0"></button>
        <span id="year">1866</span>
    </div>
    <div class="content container-fluid p-3">
        <div id="world-container">
            <div id="world-map">
            </div>
        </div>
        <div id="countries-data">
            <table id="example-participation" class="display" style="width: 100%"></table>
        </div>
    </div>
</section>

<section id="voyages">
    <div id="vplayer">
        <button id="vprev" href="#" class="btn fas fa-angle-left m-0 p-0"></button>
        <button id="vnext" href="#" class="btn fas fa-angle-right m-0 p-0"></button>
        <button id="vplay" href="#" class="btn fas fa-play m-0 p-0"></button>
        <button id="vpause" href="#" class="btn fas fa-pause m-0 p-0"></button>
        <span id="filter">All</span>
    </div>
    <div class="content container-fluid p-3">
        <div id="storymap-container" class="p-1">
            <div id="storymap"></div>
        </div>
        <div id="details-container" class="p-1 pt-5">
            <h3 class="title h3">Voyage Details</h3>
            <div id="details"></div>
        </div>
    </div>
</section>

<section id="database">
    <div class="content container pb-3">
        <h2 class="title h2 pt-5 pb-5">Search the Database</h2>
        <nav class="nav nav-pills nav-justified" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active pl-1 pr-1" id="places-tab" data-toggle="tab" href="#places" role="tab" aria-controls="places" aria-selected="false">Places</a>

            <a class="nav-item nav-link  pl-1 pr-1" id="ships-tab" data-toggle="tab" href="#ships" role="tab" aria-controls="ships" aria-selected="true">Ships</a>

            <a class="nav-item nav-link pl-1 pr-1" id="owners-tab" data-toggle="tab" href="#owners" role="tab" aria-controls="owners" aria-selected="false">Owners</a>

            <a class="nav-item nav-link pl-1 pr-1" id="captains-tab" data-toggle="tab" href="#captains" role="tab" aria-controls="captains" aria-selected="false">Captains</a>
        </nav>
        <div class="tab-content mt-1" id="nav-tabContent">
            <div class="tab-pane fade show active" id="places" role="tabpanel" aria-labelledby="places-tab">
                <table id="example-places" class="display hover row-border"></table>
            </div>

            <div class="tab-pane fade" id="ships" role="tabpanel" aria-labelledby="ships-tab">
                <table id="example-ships" class="display hover row-border"></table>
            </div>

            <div class="tab-pane fade" id="owners" role="tabpanel" aria-labelledby="owners-tab">
                <table id="example-owners" class="display hover row-border"></table>
            </div>

            <div class="tab-pane fade" id="captains" role="tabpanel" aria-labelledby="captains-tab">
                <table id="example-captains" class="display hover row-border"></table>
            </div>
        </div>
    </div>
</section>

<section id="charts">
    <div class="content container">
        <h2 class="h2 title pt-5 pb-5">Charts</h2>
        <div class="row">
            <div class="col-lg-6 mt-5">
                <h4 class="subtitle h4">When we thought it couldn't get any worse...</h4>
                <div class="chart"><canvas id="cvoyages"></canvas></div>
                <div class="chart-legend">
                    <p>They came, over and over again. From Portugal, Spain, France, Great Britain, The Netherlands, Denmark, Baltic, Hanse Towns, Brandenburg, Sweden, Sardinia, Genoa, U.S.A., Mexico, Argentina, Russia and others. As with arabs, we thought they were of the Mankind, and that they're gods resembled our's. But they didn't recognized us nor God. They made at least <b>35938</b> reported voyages.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <h4 class="subtitle h4">The investment that made Europe possible</h4>
                <div class="chart"><canvas id="cships"></canvas></div>
                <div class="chart-legend">
                    <p> You could tell it was Death comming personally. The Trojan Horse changed form but not the intentions. When they discovered our gold was good, our land blessed and our spirits fair, it was clear that they would do it. We counted 9213 distinct vessels, taking our riches, children, woman and men. Europe's first industrial revolution was on the way.</p>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <h4 class="subtitle h4">Black Pearls and Diamonds</h4>
                <div class="chart"><canvas id="cslaves"></canvas></div>
                <div class="chart-legend">
                    <p>We we're the cargo! Because the are clean, strong, educated and beatiful. Because we have the rhythm to cultivate the land, to build cities, and to enjoy ourselves. Family after family, village after village, city after city, kingdom after kingdom, empire after empire, wrapped up and dispatched worldwide. They fed on us. 10645118 we're embarked and 9180918 made it to the Americas. In the end we we're decimated, and those who survived, here and there, we were bent on our knees.</p>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <h4 class="subtitle h4">Learn to know your Enemies!</h4>
                <div class="chart"><canvas id="cdied"></canvas></div>
                <div class="chart-legend">
                    <p>Your enemy is that that feed the sharks with your flesh. Your enemy is that who rapes your children and wife. Your enemy is that who whip your elders.Your enemy is that who sits in the church just next to you. Over 1000000 african children, women and men were assassinated during the Middle Passage. Your enemy has a pleasure proportinal to your sufferings.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contacts">
    <div class="content container" id="contact-container">
        <h2 class="title h2 pt-5 pb-5">Contact</h2>
        <div class="row">
            <div id="contact-ngutu" class="col-lg-6 pt-5">
                <div class="h4 subtitle">
                    <i class="fas fa-lightbulb pr-3"></i> Contact ngutu.org
                </div>
                <p>For ideas, improvements, critics and other general information you can send us an email to <a href="mailto:info@ngutu.org" target="_top">info@ngutu.org</a></p>
            </div>
            <div id="contact-social" class="col-lg-6 pt-5">
                <div class="h4 subtitle"><i class="fas fa-users pr-3"></i>Join Us on Social Media</div>
                <p>Of course you can join our community in social media and interact with other people interested studying the enslavement of African peoples and in fighting slavery today.</p>
            </div>
        </div>
    </div>
</section>

<section id="about-us">
    <div class="content container" id="about-us-container">
        <h2 class="title h2 pt-5 pb-5">About Us</h2>
        <div class="row">
            <div id="about-ngutu" class="col-lg-6 pt-5">
                <div class="h4 subtitle"><i class="fab fa-connectdevelop pr-3"></i>About Ngutu.org:</div>
                <p>Ngutu.org is an idea with the goal to stablish a strong identity, social and economic for the re-connection of the African diasporas with each other and Mother Africa. We call for global solidarity among Black Africans to assume leadership and entrepeneurship towards the implementation of the great African Commomwealth, centered in Africa and with the diaspora playing an integreated role of embassators for Acquisition and Transfer of Knowledgle and Culture. A World where we all belong.</p>
            </div>
            <div id="about-pirigrino" class="col-lg-6 pt-5">
                <div class="h4 subtitle"><i class="fas fa-user-ninja pr-3"></i>About me:</div>
                <p>As an african living in Europe, that's what I believe: that we cannot fight racism nor the racist, by the simple fact that it is not your intrinsic problem. It's a sociopathic institutional problem that can be solved by the racist self only. We cannot impose an evolution of the racist mindset by exposing it; we are the proof of it. What we can do is to concentrate our focus to rebuild our well-acknowledge creative, productive, prosperous and conscious human civilization.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="impressum">
    <div class="content container" id="impressum-container">
        <h2 class="title h2 pt-5 pb-5">Impressum</h2>
        <p id="impressum-owner" class="pt-4">
            <span>tastXplorer</span><br/> Alexandre Zua Caldeira<br/> Lehrter Str. 8<br/> 10557 Berlin<br/> Germany
        </p>
    </div>
</section>




<section id="articles" class="articles">
   <div class="container-fluid">
        <div id="latest-articles" class="mt-5 mb-5"></div>
   </div>
</section>


<section id="contribute"></section>