<section id="charts">
    <div class="frontpage">
        <div class="title-wrapper">
            <h2 class="h2 title">Charts</h2>
        </div>
    </div>
    <div class="content">
        <div class="chart-wrapper">
            <h4 class="subtitle h4">When we thought it couldn't get any worse...</h4>
            <div class="chart"><canvas id="cvoyages"></canvas></div>
            <div class="chart-legend">
                <p>They came, over and over again. From Portugal, Spain, France, Great Britain, The Netherlands, Denmark, Baltic, Hanse Towns, Brandenburg, Sweden, Sardinia, Genoa, U.S.A., Mexico, Argentina, Russia and others. As with arabs, we thought they were of the Mankind, and that they're gods resembled our's. But they didn't recognized us nor God. They made at least <b>35938</b> reported voyages.
                </p>
            </div>
        </div>
        <div class="chart-wrapper">
            <h4 class="subtitle h4">The investment that made Europe possible</h4>
            <div class="chart"><canvas id="cships"></canvas></div>
            <div class="chart-legend">
                <p> You could tell it was Death comming personally. The Trojan Horse changed form but not the intentions. When they discovered our gold was good, our land blessed and our spirits fair, it was clear that they would do it. We counted 9213 distinct vessels, taking our riches, children, woman and men. Europe's first industrial revolution was on the way.</p>
            </div>
        </div>
        <div class="chart-wrapper">
            <h4 class="subtitle h4">Black Pearls and Diamonds</h4>
            <div class="chart"><canvas id="cslaves"></canvas></div>
            <div class="chart-legend">
                <p>We we're the cargo! Because the are clean, strong, educated and beatiful. Because we have the rhythm to cultivate the land, to build cities, and to enjoy ourselves. Family after family, village after village, city after city, kingdom after kingdom, empire after empire, wrapped up and dispatched worldwide. They fed on us. 10645118 we're embarked and 9180918 made it to the Americas. In the end we we're decimated, and those who survived, here and there, we were bent on our knees.</p>
            </div>
        </div>
        <div class="chart-wrapper">
            <h4 class="subtitle h4">Learn to know your Enemies!</h4>
            <div class="chart"><canvas id="cdied"></canvas></div>
            <div class="chart-legend">
                <p>Your enemy is that that feed the sharks with your flesh. Your enemy is that who rapes your children and wife. Your enemy is that who whip your elders.Your enemy is that who sits in the church just next to you. Over 1000000 african children, women and men were assassinated during the Middle Passage. Your enemy has a pleasure proportinal to your sufferings.</p>
            </div>
        </div>
    </div>
</section>

