<article id="charts" class="container-fluid">
    <section class="frontpage">
        <div class="title-wrapper">
            <h2 class="h2 title">Charts</h2>
        </div>
    </section>
    <section id="introduction" class="container my-5 p-5 shadow">
        <h3 class="h3 border-bottom">Introduction</h3>
        <div>
            <p>Charts are helpful to represent data in a concise way and allow us to perceive data properties, and relationships between variables. For instance, charts showing the number of people embarked per voyage, per year, per country, per ship, per owner, per captain, etc..., can give us an important window into the data.</p>
            <p>The main difference between these functions it's their domain. On the first case the domain is the set of distinct years of the trans-atlantic slave trade; on the second case, the set of distinct countries that made slave voyages. On both cases, we collect the number of slaves on each year or country, sum them and plot the totals. In theory, we could take any variable, calculte it's domain, collect and sum the number of people embarked for each distinct value of the domain, and plot it.</p>
            <p>In this article we provide a charting tool for the Voyages Database. To start with, you will be able to choose which variables to plot, which function of those variables will be used and the chart type.</p>
        </div>
    </section>
    <section id="voyage-charts" class="container my-5 p-5 shadow">
        <h4 class="h4 border-bottom">Predefined Charts</h4>
        <div id="cplayer" class="sticky-top shadow py-3 pl-2 d-block bg-dark border-bottom border-secondary">
            <form class="form text-secondary">
                <select id="select-charts-function" class="bg-dark btn btn-sm btn-outline-secondary">
                    <option value="COUNT(voyageid)">Total Number of Voyages</option>
                    <option value="SUM(slaximp)">Total Number of People Embarked</option>
                    <option value="SUM(slamimp)">Total Number of People Disembarked</option>
                    <option value="SUM(slaximp)-SUM(slamimp)">Total Number of People Died Middle Passage</option>
                    <option value="COUNT(DISTINCT(shipname))">Total Number of Ships</option>
                </select>
                <select id="select-charts-groupby" class="bg-dark btn btn-sm btn-outline-secondary">
                    <option value="voyageid">Per Voyage</option>
                    <option value="yeardep">Per Year</option>
                    <option value="national">Per Country</option>
                    <option value="natinimp">Per Country Imputed</option>
                    <option value="ownera">Per Owner</option>
                    <!--option>Per Departure Place</option>
                    <option>Per Departure Region</option>
                    <option>Per Purchase/Embarkation Place</option>
                    <option>Per Purchase/Embarkation Region</option>
                    <option>Per Landing/Disembarkation Place</option>
                    <option>Per Landing/Disembarkation Region</option>
                    <option>Per Ship</option>
                    <option>Per Rig</option>
                    <option>Per Ship Construction Place</option-->
                </select>
                <select id="select-charts-type" class="bg-dark btn btn-sm btn-outline-secondary">
                            <option value="bar">Bars</option>
                            <option value="pie">Pie</option>
                            <option value="doughnut">Doughnut</option>
                            <option value="line">Line</option>
                        </select>
                <button type="button" class="btn btn-sm btn-outline-primary"><i class="fas fa-chart-bar"></i> Chart Me</button>
            </form>
        </div>
        <div id="chart-wrapper " class="shadow">
            <canvas id="chart" class="bg-dark w-100"></canvas>
        </div>
    </section>
</article>
