<section id="database">
    <div class="frontpage">
        <div class="title-wrapper">
            <h2 class="h2 title">Search the Database</h2>
        </div>
    </div>
    <div class="content">
        <nav class="nav nav-tabs nav-justified" id="nav-tab">
            <a class="nav-item nav-link active" id="places-tab" data-toggle="tab" href="#places" role="tab" aria-controls="places" aria-selected="false">Places</a>

            <a class="nav-item nav-link" id="ships-tab" data-toggle="tab" href="#ships" role="tab" aria-controls="ships" aria-selected="true">Ships</a>

            <a class="nav-item nav-link" id="owners-tab" data-toggle="tab" href="#owners" role="tab" aria-controls="owners" aria-selected="false">Owners</a>

            <a class="nav-item nav-link" id="captains-tab" data-toggle="tab" href="#captains" role="tab" aria-controls="captains" aria-selected="false">Captains</a>
        </nav>
        <div class="tab-content shadow" id="nav-tabContent">
            <div class="tab-pane fade show active" id="places" role="tabpanel" aria-labelledby="places-tab">
                <table id="example-places" class="display hover row-border"></table>
            </div>

            <div class="tab-pane fade" id="ships" role="tabpanel" aria-labelledby="ships-tab">
                <table id="example-ships" class="display hover row-border"></table>
            </div>

            <div class="tab-pane fade" id="owners" role="tabpanel" aria-labelledby="owners-tab">
                <table id="example-owners" class="display hover row-border"></table>
            </div>

            <div class="tab-pane fade" id="captains" role="tabpanel" aria-labelledby="captains-tab">
                <table id="example-captains" class="display hover row-border"></table>
            </div>
        </div>
    </div>
</section>

