    <section id="last-section" class="container-fluid bg-dark py-5">
        <div class="card-deck py-5 container mx-auto">
            <div class="card shadow  text-success bg-transparent border border-success">
                <div class="card-header text-center"><i class="fas fa-copyright text-success"> Credits</i></div>
                <div class="card-body">
                    <div class="card-title text-secondary">This page uses:</div>
                    <div class="card-text text-success small">
                        <a href="#" class="text-success">HTML</a>,
                        <a href="#" class="text-success">CSS</a>,
                        <a href="#" class="text-success">Javascript</a>,
                        <a href="#" class="text-success">jQuery</a>,
                        <a href="#" class="text-success">jQueryUI</a>,
                        <a href="#" class="text-success">Bootstrap</a>,
                        <a href="#" class="text-success">FontAwesome</a>,
                        <a href="https://www.flag-sprites.com/" title="Country flags in single CSS sprite" class="text-success">flag-sprites.com</a>
                        <a href="#" class="text-success">PHP</a>,
                        <a href="#" class="text-success">iMagick</a>,
                        <a href="#" class="text-success">PDO</a>,
                        <a href="#" class="text-success">MySQL</a>,
                        <a href="#" class="text-success">DataTables.js</a>,
                        <a href="#" class="text-success">DataMaps.js</a>,
                        <a href="#" class="text-success">Charts.js</a>, and more... Thank you to all.
                    </div>
                </div>
            </div>
            <div class="card shadow text-info bg-transparent  border border-info">
                <div class="card-header text-center"><i class="fas fa-share-alt"> Share Awareness...</i></div>
                <div class="card-body">
                    <div class="card-title text-secondary">Was this useful?
                    </div>
                    <div class="card-text">
                        <div class="mt-5">
                            <button class="btn btn-sm btn-outline-info w-100" disabled><i class="fab fa-facebook"></i> Recommend</button>
                            <button class="btn btn-sm btn-outline-info w-100 mt-1" disabled><i class="fas fa-comment"></i> Write a Comment</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow text-danger bg-transparent border border-danger">
                <div class="card-header text-center"><i class="fas fa-heart text-danger"> ... and some Love too</i></div>
                <div class="card-body">
                    <div class="card-title text-secondary">To help me going, you can:</div>
                    <div class="card-text text-danger">
                        <div class="mt-5">
                            <button class="btn btn-sm btn-outline-danger w-100" disabled><i class="fas fa-coffee text-center"></i> Buy me a Coffee</button>
                            <button class="btn btn-sm btn-outline-danger w-100 mt-1" disabled><i class="fas fa-book text-center"></i> Buy me a Book</button>
                            <button class="btn btn-sm btn-outline-danger w-100 mt-1" disabled><i class="fas fa-book text-center"></i> Or just send me a kiss</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
