<nav class="navbar row">
    <a class="navbar-brand col-sm-4 m-0" href="#">
        <span>tast</span>
        <span class="loading">X</span>
        <span>plorer</span>
    </a>
    <div id="menu" class="col-sm-8 text-right">
        <a id="toggle_home" href="#home" class="btn bg-transparent active m-0 p-0 mr-3"><i class="fas fa-home"></i></a>

        <a id="toggle_citation" href="#citation" class="btn bg-transparent m-0 p-0 mr-3"><i class="fas fa-quote-right"></i></a>

        <a id="toggle_participation" href="#participation" class="btn bg-transparent m-0 p-0 mr-3"><i class="fas fa-crown"></i></a>

        <a id="toggle_map" href="#voyages" class="btn bg-transparent  m-0 p-0 mr-3"><i class="fas fa-atlas"></i></a>

        <a id="toggle_database" href="#database" class="btn bg-transparent m-0 p-0 mr-3"><i class="fas fa-database"></i></a>

        <a id="toggle_charts" href="#charts" class="btn bg-transparent m-0 p-0 mr-4"><i class="fas fa-chart-pie"></i></a>

        <a id="toggle_contact" href="#contact" class="btn bg-transparent m-0 p-0 mr-2">contacts</a>
        
        <a id="toggle_about_us" href="#about-us" class="btn bg-transparent m-0 p-0 mr-2">about us</a>

        <a id="toggle_impressum" href="#impressum" class="btn bg-transparent m-0 p-0">impressum</a>
    </div>
</nav>
