<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<title>TAST | Trans-atlantic Slave Trade Databases</title>

<!-- EXTERNAL STYLESHEETS -->
<link rel="icon" type="image/png" href="php/test/images/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="php/test/images/favicon-16x16.png" sizes="16x16" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
<link rel="stylesheet" href="https://cdn.knightlab.com/libs/storymapjs/latest/css/storymap.css"/>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/1.5.1/css/scroller.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="plugins/richtext/richtext.min.css">
<!-- END EXTERNAL STYLESHEETS --> 


<link type="text/css" rel="stylesheet" href="css/constants.css"/>
<link type="text/css" rel="stylesheet" href="css/template.css"/>
<link type="text/css" rel="stylesheet" href="css/style.css"/>
<link type="text/css" rel="stylesheet" href="css/menu.css"/>
<link type="text/css" rel="stylesheet" href="css/players.css"/>
<link type="text/css" rel="stylesheet" href="css/datatables.css"/>
<link type="text/css" rel="stylesheet" href="css/articles.css"/>
<link type="text/css" rel="stylesheet" href="css/responsive.css"/>
<link type="text/css" rel="stylesheet"  href="css/flags.css">


<!-- EXTERNAL SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/scroller/1.5.1/js/dataTables.scroller.min.js"></script>

<script src="plugins/richtext/jquery.richtext.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<!-- END EXTERNAL SCRIPTS -->

<script src="js/menu.js"></script>
<script src="js/frontpages.js"></script>
<script src="js/responsive_images.js"></script>

###MY_SCRIPTS###

<!-- AdSense -->
<!--script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6447625295372438",
    enable_page_level_ads: true
  });
</script-->