<nav class="navbar">
    <a class="navbar-brand" href="index.php">
        <span>tast</span>
        <span class="loading">X</span>
        <span>plorer</span>
    </a>    
    <div id="menu" class="navbar-nav">
       <div class="container-fluid">
        <a id="toggle_home" href="index.php" class="btn bg-transparent active" title="Home"><i class="fas fa-home"></i></a>
        <a id="toggle_about_us" href="about-us.php" class="btn bg-transparent" title="About Us">X</a>
        <a id="toggle_participation" href="participation.php" class="btn bg-transparent" title="Participation"><i class="fas fa-crown"></i></a>
        <a id="toggle_voyages" href="voyages.php" class="btn bg-transparent"><i class="fas fa-atlas" title="Voyages"></i></a>
        <a id="toggle_database" href="database.php" class="btn bg-transparent" title="Database"><i class="fas fa-database"></i></a>
        <a id="toggle_charts" href="charts.php" class="btn bg-transparent" title="Charts"><i class="fas fa-chart-pie"></i></a>
        <a id="toggle_resources" href="resources.php" class="btn bg-transparent" title="Resources"><i class="fas fa-quote-right"></i></a>
        <a id="toggle_articles" href="articles.php" class="btn bg-transparent" title="Articles"><i class="fas fa-book-open"></i></a>
        <a id="toggle_contribute" href="contribute.php" class="btn bg-transparent" title="Contribute"><i class="fab fa-connectdevelop"></i></a>
       </div>
    </div>
</nav>

