<section id="home">
    <div class="frontpage" id="message">
        <div class="title-wrapper">
            <h1 class="h1 title">
                <div class="logo">
                    <span>tast</span>
                    <span class="loading">X</span>
                    <span>plorer</span>
                </div>
                <div class="">Explore, Search, Contribute</div>
            </h1>
        </div>
    </div>
</section>

<div class="container-fluid p-5">
    <h3 class="display-3 text-center">
        How much do you know about the trans-atlantic slave trade?
        <br/> 
        <small class="text-muted">Test yourself and take a quizz!</small>
        <br/>
        <button id="toggle-quizz" class="btn btn-success text-center">exquizz me!</button>
        <button id="go-participation" class="btn btn-outline-success text-center"><i class="fas fa-crown"></i> See World's Participation Map</button>
        <button id="go-voyages" class="btn btn-outline-success text-center"><i class="fas fa-atlas"></i> Explore Voyage Dates and Itineraries</button>
    </h3>
</div>

<section id="explore" class="subsection">
    <div id="top3-quizz" class="container rounded pt-5 pb-5">
        <div id="#top3-quizz-header" class="container-fluid pt-3 pb-3">
                <h3 id="top3-quizz-title" class="h3 display-5 text-center font-weight-bold">
                </h3>
        </div>
        <div id="top3-quizz-body" class="container-fluid mt-3 mb-5">
            <div class="row m-0 p-0">
                <aside id="top3-menu" class="col-md-3 rounded container bg-transparent">
                    <ul class="list-unstyled">
                        <li id="top3-controls" class="">
                            <select id="number-of-tops" name="ntops" class="bg-transparent p-1 m-0 btn border float-right" style="heitgh: 26px;">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                            </select>
                        </li>
                        <li id="top3-options" class="mt-3">
                            <label class="">Choose category:</label>
                            <ul class="list-group list-group-flush shadow">
                                <li id="option-top-countries" class="list-group-item  p-1 active small">Top Countries</li>
                                <li id="option-top-owners" class="list-group-item p-1 small">Top Owners</li>
                                <li id="option-top-captains" class="list-group-item p-1 small">Top Captains</li>
                                <li id="option-top-ships" class="list-group-item p-1 small">Top Ships</li>
                                <li id="option-top-purchasing" class="list-group-item p-1 small">Top Purchasing Places</li>
                                <li id="option-top-landing" class="list-group-item p-1 small">Top Landing Places</li>
                            </ul>
                        </li>
                        <li id="top3-criteria" class="mt-3">
                            <label class="">Choose a criteria:</label>
                            <ul class="list-group list-group-flush shadow">
                                <li id="criteria-embarked" class="list-group-item p-1 active small"># People embarked</li>
                                <li id="criteria-disembarked" class="list-group-item p-1 small"># People disembarked</li>
                                <li id="criteria-died" class="list-group-item p-1 small"># People died in Middle Passage</li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <div id="central" class="col-md-6 bg-light rounded p-3 shadow">
                    <div id="user-answers" class="">
                    </div>
                    <div id="sum" class="badge badge-danger float-right mt-2 mb-2"></div>
                    <div id="user-notification-area" class="container">
                        <p id="percentage-indicator"><span class="percentage h1">0%</span></p>
                        <div id="user-score" class="text-center">
                            <span class="badge">Score</span>
                            <label id="score-badge" class="badge badge-info" style="padding: .4125em">
                            <span class="ncorrect">0</span> | 
                            <span class="ntotal">0</span> | 
                            <span class="ntries">0</span> |
                            <span class="percentage">0%
                            </span>
                            </label>
                            <div class="fb-like" data-href="https://tast.ngutu.org/#explore" data-layout="button_count" data-action="recommend" data-size="large" data-show-faces="true" data-share="false"></div>
                        </div>
                    </div>                    
                </div>
                <div id="possible-answers" class="col-md-3 rounded bg-transparent"></div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid bg-dark p-5">
   <div class="row">
        <h3 class="display-3 text-right col-md-6">245 Variables at your disposal.
            <small class="text-muted">Be sure you know their meaning and coverage.</small>
            <button id="go-coverage" class="btn btn-outline-secondary text-center" disabled title="Comming soon...">Variable Meaning and Coverage</button>        </h3>
        <div class="col-md-6 text-center my-auto">
            <button id="go-database" class="btn btn-outline-success text-center"><i class="fas fa-database"></i> Look Deep into the Database</button>
            <button id="go-charts" class="btn btn-outline-success text-center"><i class="fas fa-chart-pie"></i> Put it on Charts</button>
        </div>
   </div>
</div>

<section id="home-search" class="subsection d-none">
    <div class="container" class="subsection">
        <h3 class="h3 text-center pt-5">Variable Meaning and Coverage Table</h3>
        <table id="table-meaning-coverage" class="display" style="width: 100%"></table>
    </div>
</section>


<section id="home-contribute" class="container-fluid p-5">
    <div class="my-auto text-center">
        <i class="fas fa-heart my-auto" style="color: red;"></i><br/>
        <button id="buy-me-a-coffee" class="btn btn-outline-secondary text-center  my-auto" disabled title="Comming Soon..."><i class="fas fa-coffee"></i> Buy me a Coffe</button>
    </div>
</section>


