<section id="home">
    <div class="frontpage" id="message">
        <div class="title-wrapper">
            <h1 class="h1 title">
                <div class="logo">
                    <span>tast</span>
                    <span class="loading">X</span>
                    <span>plorer</span>
                </div>
                <div class="subtitle">Explore, Search, Contribute</div>
            </h1>
        </div>
    </div>
</section>
<article id="abstract" class="content article">
    <div class="article-header">
        <h2 class="article-title h2">
            Understanding the Transatlantic Slave Trade Database with the
            <i class="logo">
                <span>tast</span>
                <span class="loading">X</span>
                <span>plorer</span>
            </i>
        </h2>
        <p class="article-info">
            <span class="article-author">by <b>Alexandre Caldeira</b></span>
            <span class="article-author">05-11-2018 | Berlin, Germany</span>
        </p>
    </div>
    <div class="article-body">
      <p>
            The Transatlantic slave trade database is delivered to the public by the <i>Voyages: The Trans-Atlantic Slave Trade Database Website</i> by Emory University, <a href="www.slavevoyages.org">www.slavevoyages.org</a>. This data is made freely available for private, educational and research use. We are deeply grateful for this data that allow us to better understand the cinematics of the transatlantic slave trade. It is for sure a valuable resource with lots of scientific hard work that every curious about this section of World History should visit. So here our credit to Emory University and partners who delivered us a glimpse of what and how it happened. We use this knowledge according to the owner's <a href="http://www.slavevoyages.org/help/page_legal">legal</a> notice.
        </p>

        <p>
             We aim to use  that  that software and information to:
        </p>
        <ul>
            <li>understand the effects of enslavement of Black Bantu speaking people of Africa by European countries</li>
            <li>fight the still ongoing, much older slave trade of our people throughout the Sahara desert, the Indian Ocean and at home</li>
            <li>fight social prejudice against Africans and people of African descent, a reality that we still have to strongly oppose for the sake of future generations</li>
            <li>promote a strong connection to Africa for those in the diaspora, by exchange of knowledge, culture, and actions for sustainable economic participation</li>
        </ul>

        <p>With this work we propose several ways to look at the dataset. Section <b>Participation</b> allow us to learn about the countries that took part in the slave trade, how strong this participation was and during which period of time. Where possible, information is provided using maps, tables, and charts. In future versions of this website, we plan to cross that information with other historical data not directly related to the slave trade but can help to contextualize slave trading events.</p>

        <p>Section <b>Itineraries</b> tries to shown where each voyage started, ended and landed to buy and sell slaves. It allows accessing the data in a non-linear fashion. Each voyage is represented by a story map and detailed information about particular voyages, such as ship names, owners, captains, voyage outcome, and reported resistance.</p>

        <p>In the <b>Database</b> section we give a listing of the dataset variables and their meaning. Visitors will be able access the number of slaves <i>embarked</i>, <i>disembarked</i> and those that <i>died</i> during the middle passage, for some predefined variables. Filtering capabilities allows finding in possibly large results.</p>

        <p>We deep explore these numbers and other numerical data in the <b>Charts</b> section. Most charts have a time-axis that allow us to cross it with external historical chronological data, to show trends in the data, for instance, the amount of investment in naval resources, the European and American geopolitics, industrial development, and the evolution of quality of life and life expectancy in these regions, and how it relates to the slave trade.</p>

        <p>Another important goal we have is to collect a list of resources related not only to the slave trade but to the real History of Africa, African civilizations and Culture. The internet surely opens a door for the cooperative gathering of material, that will allow us to rediscover the incredible civilizations and cultures our forefathers brought to mankind. Language, Agriculture, Music, Law, Religion are among the many inventions and contributions of African people to the world. Denial of African contribution is surely one of the greatest offenses against our people. This is the main idea under the <b>Resources</b> section.
        </p>

        <p>Section <b>Articles</b> is a place for free thinkers. There we will publish some articles, and I invite you to do the same. It is important that we share some thoughts together so that we can feel each other minds. There is a place to express hopes and disappointments; to share small and big ideas; a place to dream. Share your mind with us.</p>

        <p>I wish you a nice exploration.</p>
    </div>

</article>
