<article id="participation">
    <section class="frontpage">
        <div class="title-wrapper display-3">
            <h2 class="h2 title">Participation in the Trans-atlantic Slave Trade</h2>
        </div>
    </section>
    <section id="introduction" class="container p-3  py-5 text-justify">
        <div class="container">
            <p>The <i>Voyages Database</i> reports a total of <span id="TOTAL_VOYAGES"></span> voyages, between <span id="FIRST_VOYAGE_DATE"></span> and <span id="LAST_VOYAGE_DATE"></span>. Not all voyages have dates assigned therefore these dates should not be taken as absolute, but only in the context of the database.</p>
            <p>In the aftermath of the <i>Reconsquita</i>, christian Portugal and Spain established themselves as natural heirs, by culture and conquest, of millenia of Iberian civilization, a long-lasting afro-european center of science, culture, religion and race tolerance by which ancient Iberians, Phoenicians, Jews, Greeks, Romans, Goths and Moors contributed to one of the most intellectually and econommically vibrating civilization the old continent has ever experienced. Techonological advancements in naval instrumentation, sea navigation as much as the vicious of war, fuelled imperialist ambitions of expansion and further conquest.</p>
            <p>As soon as the slave trade became recognizagble as the most profitable of all activities, many other countries followed them, pushing the slave trade from an Iberian to an European activity. This page explores which countries, when and in wich measure participated in the trans-atlantic slave trade.</p>
        </div>
        <!--div id="participation-subsections" class="container">
            <div class="row text-center">
                <a class="col btn btn-outline-success m-1" id="who" href="#countries"><i class="fas fa-globe-africa"></i> Listing: Countries Involved</a>
                <a class="col btn btn-outline-success m-1" id="first" href="#when"><i class="fas fa-stopwatch"></i> Timeline: Date of First Voyage</a>
                <a class="col btn btn-outline-success m-1" id="last" href="#when"><i class="fas fa-stopwatch"></i> Timeline: Date of Last Voyage</a>
            </div>
        </div-->
    </section>
    <section id="countries-list" class="container-fluid p-3 py-5 bg-secondary text-secondary">
        <h3 class="h3 display-5 text-center text-light">List of Countries and City States that participated in the Transatlantic Slave Trade</h3>
        <div id="LIST_OF_COUNTRIES" class="container bg-dark text-center shadow my-5 py-3"></div>
        <div id="participation-timeline" class="container  bg-dark shadow my-5 py-3 text-secondary">
            <div class="my-2">
                <h4 class="p-3 text-left">Timeline: First reported slave trading voyage</h4>
                <div id="FIRST_VOYAGE_TIMELINE" class="p-3 text-center"></div>
            </div>
            <div class="my-2">
                <h4 class="p-3 text-left">Timeline: Last reported slave trading voyage</h4>
                <div id="LAST_VOYAGE_TIMELINE" class="p-3 text-center"></div>
            </div>
        </div>
    </section>
    <section id="participation-viewer" class="container-fluid bg-dark py-5">
        <div id="ptitle"></div>
        <div id="pplayer" class="container clearfix shadow rounded text-right bg-secondary m-auto">
            <span id="year" class="text-light float-left">1866</span>
            <button id="psettings" class="btn fas fa-cog"></button>
            <button id="prefresh" class="btn fas fa-undo"></button>
            <button id="pplay" class="btn fas fa-play"></button>
            <button id="ppause" class="btn fas fa-pause"></button>
            <div class="progress shadow">
                <div class="progress-bar bg-danger clearfix my-auto">
                 <p><span class="begin float-left">1514</span> - <span class="end float-right">1866</span></p>
                </div>
            </div>
        </div>
        <div class="container">
            <!--div id="year-map"></div-->
            <div id="period-map" class="shadow"></div>
            <div class="row bg-transparent m-1 rounded">
                <table id="period-table" class="col shadow rounded p-1 compact bg-danger row-border">
                <thead  class="text-light"></thead>
                <tbody></tbody>
                </table>
                <div id="period-chart" class="col"></div>
            </div>
            <!--div id="all-map" class="bg-dark"></div-->
        </div>
    </section>
</article>
