<section id="participation">
    <div class="frontpage">
        <div class="title-wrapper">
            <h2 class="h2 title">Participation in the Trans-atlantic Slave Trade</h2>
        </div>
    </div>
    <div class="content">
        <div id="pplayer" class="text-center">
            <button id="prefresh" class="btn fas fa-undo p-0 m-0"></button>
            <button id="pplay" class="btn fas fa-play p-0 m-0"></button>
            <button id="ppause" class="btn fas fa-pause p-0 m-0"></button>
            <span id="year">1866</span>
        </div>
        <div id="world-container" class="shadow">
            <h3 class="subtitle m-3">Top Slave Trade Countries - Map Visualization</h3>
            <div id="world-map">
            </div>
        </div>
        <div id="countries-data" class=" shadow">
            <h3 class="subtitle m-3">Top Slave Trade Countries - The Numbers</h3>
            <table i d="example-participation" class="display" style="width: 100%"></table>
        </div>
    </div>
</section>
