<SCRIPT charset="utf-8" type="text/javascript" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=DE&ID=V20070822%2FDE%2Ftastxplorer-21%2F8005%2F58c3a88d-c0a0-4505-90ff-8ac4a645ac08">


</SCRIPT>
<NOSCRIPT><A rel="nofollow" HREF="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=DE&ID=V20070822%2FDE%2Ftastxplorer-21%2F8005%2F58c3a88d-c0a0-4505-90ff-8ac4a645ac08&Operation=NoScript">Amazon.de Widgets</A></NOSCRIPT>


<article id="resources" class="container-fluid">
    <section class="frontpage">
        <div class="title-wrapper">
            <h2 class="h2 title">Voices of Wisdom</h2>
        </div>
    </section>
    <section îd="introduction" class="container my-5 p-5 shadow">
        <h3 class="h3 border-bottom">Introduction</h3>
        <div class="content">

        </div>
    </section>
    <section id="books" class="container my-5 p-5 shadow">
        <h3 class="h3 border-bottom">The Transatlantic Slave Trade: People and Books</h3>
        <div id="book-list-by-author">
        </div>
    </section>
        <aside>
           </aside>
</article>
