<SCRIPT charset="utf-8" type="text/javascript" src="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=DE&ID=V20070822%2FDE%2Ftastxplorer-21%2F8005%2F58c3a88d-c0a0-4505-90ff-8ac4a645ac08">


</SCRIPT>
<NOSCRIPT><A rel="nofollow" HREF="//ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=DE&ID=V20070822%2FDE%2Ftastxplorer-21%2F8005%2F58c3a88d-c0a0-4505-90ff-8ac4a645ac08&Operation=NoScript">Amazon.de Widgets</A></NOSCRIPT>


<article id="resources" class="container-fluid text-justify">
    <section class="frontpage">
        <div class="title-wrapper">
            <h2 class="h2 title">Voices of Wisdom</h2>
        </div>
    </section>
    <section îd="introduction" class="container my-5 p-5 shadow">
        <h3 class="h3 border-bottom">Introduction</h3>
        <div class="content">
            <p>Mankind has stood against oppression as long as oppression itself exists. Slavery is one of those oppression forces that delayed us from universal peace and understanding of each other. The suffering of victims of oppression is exactly the measure of the distance to full humanism. While practical justice fail to ensure everyone their theoretical universal rights, may the voices of those who have witnessed in body and mind the inhumanity of older injustices shorten the way to freedeom to all of our children, sisters and brothers who still today are denied a rigtheous place in society.</p>
            <p>This article tries to collect online available resources about the transatlantic slave trade, for easy lookup, using commom APIs from Amazon, Google Books, Wikipedia and other sources. This website is affiliated with Amazon Partner programme, so it is possible for you to navigate out of our website to buy or rent with Amazon. No internal products are selled in our website, so you will not need to provide any payment details. After clicking a Buy button you should be redirected directly to the Amazon's page for that product or service.</p>
            <p>
                The external sources of information are always referred, and links to the remote page is provided for you to follow. Click on the source icon, logo or other provided identifier. For Wikipedia article we will use <i class="fab fa-wikipedia-w"></i>, for Google Books sourced information <i class="fab fa-google"></i> and Amazon's <i class="fab fa-amazon"></i>.
            </p>
        </div>
    </section>
    <section id="books" class="container my-5 p-5 shadow">
        <h3 class="h3 border-bottom">The Transatlantic Slave Trade: People and Books</h3>
        <div id="rplayer" class="bg-dark text-warning p-2 mb-1 sticky-top">
            <div class="row">
                <div class="col-4">Freedom Library</div>
                <div class="col-8">
                    <div class="btn-group">
                        <button id="books-only" class="btn btn-sm btn-outline-warning">Books Only</button>
                        <button id="books-and-details" class="btn btn-sm btn-outline-warning">Books + Details</button>
                    </div>
                </div>
                
            </div>            
        </div>
        <div id="book-list-by-author" class="">
        
        </div>
    </section>
</article>
