<!DOCTYPE html>
<html lang="en">

<head>
    ###HEAD###
</head>

<body class="container-fluid">
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '716533442049508',
                xfbml: true,
                version: 'v3.2'
            });
            FB.AppEvents.logPageView();
            FB.getLoginStatus(function(response) {
                statusChangeCallback(response);
            });
        };

        function statusChangeCallback(response) {
            console.log(response);
            if(response.status == 'connected') {
                alert('CONNECTED!!!');
            }            
            else {
                var button = $('<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"  scope="public_profile,email" onlogin="checkLoginState();"></div>');
                $(document).on('load', function() {
                    $('#menu .links').append(button);
                });
            }
        }
        
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="wrapper">
        <header>
            ###HEADER###
        </header>


        <main>
            ###CONTENT###
        </main>

        <footer>
            ###FOOTER###
        </footer>
    </div>

</body>

</html>
