<!DOCTYPE html>
<html lang="en">

<head>
    ###HEAD###
</head>

<body class="container-fluid">
    <!--div id="fb-root"></div-->
    <script>
        var loggedIn = false;
        window.fbAsyncInit = function() {
            FB.init({
                appId: '716533442049508',
                xfbml: true,
                version: 'v3.2'
            });
            FB.AppEvents.logPageView();
            checkLoginState();
        };

        function checkLoginState() {
            console.log('Checking Login Status...');

            FB.getLoginStatus(function(response) {
                if (response.status == 'connected') {
                    $(document).trigger('_facebook_status', [true]);
                } else {
                    $(document).trigger('_facebook_status', [false]);
                }
            });
        }

        function toggleLoginState() {
            FB.getLoginStatus(function(response) {
                if (response.status == 'connected') {
                    $(document).trigger('_facebook_status_changed', [true]);
                } else {
                    $(document).trigger('_facebook_status_changed', [false]);
                }
            });
        }

        function login() {
            FB.login(function(response) {
                if (response.status == 'connected') {
                    updateUserPicture(response);
                    $(document).trigger('_facebook_login', [response]);
                }
            }, {
                scope: 'public_profile,email'
            });
        }

        function logout() {
            FB.logout(function(response) {
                $(document).trigger('_facebook_logout', [response]);
            });
        }

        function updateUserPicture(resp) {
            var userid = resp.authResponse.userID;
            console.log(">>> " + userid);
            FB.api(
                '/' + userid + '/picture',
                'GET', 
                {},
                function(response) {
                    console.log(response);        
                }
            );
        }

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=716533442049508&autoLogAppEvents=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>
    <div id="wrapper">
        <header>
            ###HEADER###
        </header>


        <main>
            ###CONTENT###
        </main>

        <footer>
            ###FOOTER###
        </footer>
    </div>

</body>

</html>
