<!DOCTYPE html>
<html lang="en">

<head>
    ###HEAD###
</head>

<body class="container-fluid">
    <!--div id="fb-root"></div-->
    <script>
        var loggedIn = false;
        window.fbAsyncInit = function() {
            FB.init({
                appId: '716533442049508',
                xfbml: true,
                version: 'v3.2'
            });
            FB.AppEvents.logPageView();
        };

        function checkLoginState() {
            console.log('Checking Login Status...');

            FB.getLoginStatus(function(response) {
                if (response.status == 'connected') {
                    $(document).trigger('_facebook_status', [true]);
                } else {
                    $(document).trigger('_facebook_status', [false]);
                }
            });
        }

        function login() {
            console.log('Starting login...');
            FB.login(function(response) {
                console.log('Login response status: ' + response.status);
                if (response.status == 'connected') {
                    requestUserPicture(response);
                }
            });
        }

        function logout() {
            console.log('Starting logout...');
            FB.logout(function(response) {
                console.log('Logout response status: ' + response.status);
                $(document).trigger('_facebook_logout', [response]);
            });
        }

        function requestUserPicture(resp) {
            if(resp.authResponse != null) {
                var userid = resp.authResponse.userID;
                console.log(">>> " + resp.authResponse);
                FB.api(
                    '/' + userid + '/picture',
                    'GET', 
                    {"redirect": false, height: 24},
                    function(response) {
                        console.log(response.data.url);
                        $(document).trigger('_facebook_login', [response, response.data.url]);
                    }
                );
            }
        }

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>
    <div id="wrapper">
        <header>
            ###HEADER###
        </header>


        <main>
            ###CONTENT###
        </main>

        <footer>
            ###FOOTER###
        </footer>
    </div>

</body>

</html>
