<section id="voyages">
    <div class="frontpage">
        <div class="title-wrapper">
            <h2 class="h2 title">Voyage Itinerary</h2>
        </div>
    </div>
    <div class="content">
        <div id="vplayer" class="text-center">
            <button id="vprev" class="btn fas fa-angle-left m-0 p-0"></button>
            <button id="vnext" class="btn fas fa-angle-right m-0 p-0"></button>
            <button id="vplay" class="btn fas fa-play m-0 p-0"></button>
            <button id="vpause" class="btn fas fa-pause m-0 p-0"></button>
            <span id="filter">All</span>
        </div>
        <div id="storymap-container" class="shadow">
            <div id="storymap"></div>
        </div>
        <div id="details-container" class="shadow">
            <h3 class="subtitle">Voyage Details</h3>
            <div id="details"></div>
        </div>
    </div>
</section>

